@using Anden_SemesterProjekt.Client.Services
@using Anden_SemesterProjekt.Shared.Models
@layout NoMenuLayout


@page "/ordre/{OrdreId:int}"

<div class="maxwidth">
    <div class="row p-3">
        <h2 class="mb-5">Scooterland</h2>
        <div class="col-md-12">
            @if (OrdreModel.Kunde != null && OrdreModel.Kunde.Adresse != null && OrdreModel.Kunde.Adresse.By != null)
            {
                <span>@OrdreModel.Kunde.Navn</span>
                <br />
                <span>@OrdreModel.Kunde.Adresse</span>
                <br />
                <span>@OrdreModel.Kunde.Adresse.Postnummer</span>
                <span>@OrdreModel.Kunde.Adresse.By.ByNavn</span>
            }
        </div>
    </div>

    <div class="row p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vare Beskrivelse</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Timer</th>
                    <th scope="col">Timer i alt</th>
                    <th scope="col">Pris pr. stk.</th>
                    <th scope="col">Rabat</th>
                    <th scope="col">Pris i alt</th>
                </tr>
            </thead>
            <tbody>
                @if (OrdreModel.VareLinjer != null)
                {
                    @foreach (var vareLinje in OrdreModel.VareLinjer)
                    {
                        <tr>
                            <td>@vareLinje.VareBeskrivelse</td>
                            <td>@vareLinje.Antal</td>
                            @if (vareLinje.YdelseAntalTimer == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@vareLinje.YdelseAntalTimer</td>
                            }
                            @if (vareLinje.GetTotalAntalTimer() == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@vareLinje.GetTotalAntalTimer()</td>
                            }
                            <td>@vareLinje.VarePris</td>
                            <td>@vareLinje.Rabat</td>
                            <td>@vareLinje.GetTotalPris()</td>
                        </tr>
                    }
                }
            </tbody>
            
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Moms (25%)</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@OrdreModel.GetTotalMoms()</td>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Pris i alt</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@OrdreModel.GetTotalPris()</td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <p>Scootervej 47, 7100 Vejle - Telefon: (+45)13354758 - Email: mail@scooterland.dk</p>
    </div>
</div>

@code {

    [Parameter]
    public int OrdreId { get; set; }

    [Inject]
    public IOrdreClientService OrdreService { get; set; }

    public Ordre OrdreModel { get; set; } = new Ordre();

    override protected async Task OnInitializedAsync()
    {
        var ordreResult = await OrdreService.GetOrdre(OrdreId);

        if (ordreResult != null)
        {
            OrdreModel = ordreResult;
        }

        //Indlæse varer og ydelser for ordre manuelt her for at omgå problemer med json og arv. Ellers fås antal timer ikke med på ydelser.
    }

}