@using Anden_SemesterProjekt.Client.Services
@using Anden_SemesterProjekt.Shared.Models
@layout NoMenuLayout

@page "/ordre/{OrdreId:int}"

<PageTitle>(@OrdreId)Ordre Information</PageTitle>

<div class="maxwidth">
    <div class="row p-3">
        <h1 class="mb-5">Scooterland</h1>

        @if (OrdreModel.Kunde != null)
        {
            <span class="fw-bold">@OrdreModel.Kunde.Navn</span>
        }
        <div class="col-md-12">
            @if (OrdreModel.Kunde != null && OrdreModel.Kunde.Adresse != null && OrdreModel.Kunde.Adresse.By != null)
            {
                <span>@OrdreModel.Kunde.Adresse</span>
                <br />
                <span>@OrdreModel.Kunde.Adresse.Postnummer </span>
                <span>@OrdreModel.Kunde.Adresse.By.ByNavn</span>
                <br />
                <span>@OrdreModel.Kunde.Email</span>
                @foreach (var telefon in OrdreModel.Kunde.TlfNumre)
                {
                    <br />
                    <span>(+45) @telefon.TelefonNummer</span>
                }
            }
        </div>
    </div>

    <div class="row p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vare</th>
                    <th scope="col">Antal</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Pris pr. stk.</th>
                    <th scope="col">Rabat</th>
                    <th scope="col">Pris i alt</th>
                </tr>
            </thead>
            <tbody>
                @if (OrdreModel.VareLinjer != null)
                {
                    @foreach (var vareLinje in OrdreModel.VareLinjer)
                    {
                        if (vareLinje.YdelseAntalTimer == 0)
                        {
                            <tr>
                                <td>@vareLinje.VareId</td>
                                <td>@vareLinje.VareBeskrivelse</td>
                                <td>@vareLinje.Antal</td>
                                <td></td>
                                <td></td>
                                <td>@vareLinje.VarePris</td>
                                <td>@vareLinje.Rabat</td>
                                <td>@vareLinje.GetTotalPrisString()</td>
                            </tr>
                        }
                    }
                }
                <tr>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ydelse</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Timer</th>
                    <th scope="col">Timer i alt</th>
                    <th scope="col">Pris pr. stk.</th>
                    <th scope="col">Rabat</th>
                    <th scope="col">Pris i alt</th>
                </tr>
            </thead>
            <tbody>
                @if (OrdreModel.VareLinjer != null)
                {
                    @foreach (var vareLinje in OrdreModel.VareLinjer)
                    {
                        if (vareLinje.YdelseAntalTimer > 0)
                        {
                            <tr>
                                <td>@vareLinje.VareId</td>
                                <td>@vareLinje.VareBeskrivelse</td>
                                <td>@vareLinje.Antal</td>
                                <td>@vareLinje.GetAntalTimerString()</td>
                                <td>@vareLinje.GetTotalAntalTimerString()</td>
                                <td>@vareLinje.VarePris</td>
                                <td>@vareLinje.Rabat</td>
                                <td>@vareLinje.GetTotalPrisString()</td>
                            </tr>
                        }
                    }
                }
                <tr>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                    <td class="p-3"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Moms (25%)</td>
                    <td>@OrdreModel.GetTotalMomsString()</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Pris totalt (DKK)</th>
                    <th scope="col" class="text-decoration-underline">@OrdreModel.GetTotalPrisMedMomsString()</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="footer">
        <div class="row maxwidth align-items-center">
            <span>Scootervej 47, 7100 Vejle &emsp; CVR: 273847383</span>
            <span>Telefon: (+45)13354758 &emsp; Email: mail@scooterland.dk</span>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int OrdreId { get; set; }

    [Inject]
    public IOrdreClientService OrdreService { get; set; }

    public Ordre OrdreModel { get; set; } = new Ordre();

    override protected async Task OnInitializedAsync()
    {
        var ordreResult = await OrdreService.GetOrdre(OrdreId);

        if (ordreResult != null)
        {
            OrdreModel = ordreResult;
        }

        //Indlæse varer og ydelser for ordre manuelt her for at omgå problemer med json og arv. Ellers fås antal timer ikke med på ydelser.
    }

}