@* @page "/sko"
@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Components.Kunder

<div class="row">
    <label class="col-6">Vælg produkt</label>
    @if (ordreVareLinje.VarePris > 0)
    {<label class="col-1">Pris</label>
        <label class="col-1 ps-4">Ændr pris</label>
        <label class="col-1">Antal</label>
    }
</div>

<div class="row">
    <div class=" col-6 search-container">
        <input type="text"class="form-control"placeholder="Søg varer ..."@bind="søgeTekstVarer"@oninput="VareSøgefeltÆndret" />
        @if (visVareForslag)
        {
            <ul class="liste">
                @foreach (var vare in vareForslag)
                {
                    <li @onclick="() => VælgVare(vare)">
                        @vare.Beskrivelse - @vare.Pris
                    </li>
                }
            </ul>
        }
    </div>
    @if (ordreVareLinje.VarePris > 0)
    {
        @if (checkboxValue)
        {
            <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1"  />

        }
        else
        {
            <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1" disabled />

        }
        <InputCheckbox class="small-checkbox col-1"@bind-Value="checkboxValue" />
        <div class="col-1">
            <InputNumber id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal"/>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="TilføjVare">Tilføj</button>
        </div>
    }
    
</div>
<div>

</div>

    <row class =" pt-3">
        
            <input type="text"class="col-6"placeholder="Vælg kunde ..."@bind="søgeTekstKunder"@oninput="KundeSøgefeltÆndret" />
            @if (visKundeForslag)
            {
                <ul class="liste">
                    @foreach (var kunde in kundeForslag)
                    {
                        <li @onclick="() => VælgKunde(kunde)">
                           (@kunde.KundeId) @kunde.Navn - @kunde.Email
                        </li>
                    }
                </ul>
            }
            <button class="btn btn-primary col-1" @onclick="OpretKunde">Opret kunde</button>
            <InputSelect @bind-Value="nyOrdre.MekanikerId" class="col-2">
                <option value="">Vælg mekaniker</option>
                @foreach (var mekaniker in alleMekanikere)
                {
                    <option value="@mekaniker.MekanikerId">@mekaniker.Navn</option>
                }
            </InputSelect>
            
            <InputSelect @bind-Value="nyOrdre.KundeScooterId" class="col-2">
                <option value="">Vælg scooter</option>
                @foreach (var scooter in kundeScootere)
                {
                    <option value="@scooter.ScooterId">@scooter.Registreringsnummer</option>
                }
            </InputSelect>
    </row>

    <div class="border-primary mt-5 col-6">
        @foreach (var vareLinje in ordreVareLinjer)
        {
            <ul >
                <li>
                    <label class="col-4"> @vareLinje.Vare.Beskrivelse - @vareLinje.Vare.Pris Kr</label>
                    <InputNumber @bind-Value="@vareLinje.Antal" @oninput="() => FjernVareVedNul()" class="col-1" placeholder="Antal"/>
                    <button class="btn btn-danger col-1" @onclick="() => FjernVare(vareLinje)">Slet</button>
                </li>
            </ul>
        }
    </div>

<div class="row">
    <div class="col-6">
        Total pris: @ordreVareLinjer.Sum(v => v.Vare.Pris * v.Antal) Kr
    </div>
    @if (ordreVareLinjer.Count > 0 && nyOrdre.MekanikerId != null && nyOrdre.KundeScooterId != null)
    {
        
    <div class="col-1">
        <button class="btn btn-primary" @onclick="OpretOrdre">Opret ordre</button>
        </div>
    }
    else
    {
        <div class="col-1">
            <button class="btn btn-primary" disabled @onclick="OpretOrdre">Opret ordre</button>
        </div>
    }
</div>
@if (opretKundeModal)
{
    <div class="modal">
        <div class="modal-content">
            <span class="close-button" @onclick="@LukOpretKundeModal">&times;</span>
            <KundeCreateComponent OnKundeAdded="NyKunde" />
        </div>
    </div>
}
 *@
 
 @page "/sko"
@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Components.Kunder

<div class="container mt-4">
    <!-- Header -->
    <!-- Kunde Sektion -->
            <div class="card">
                <div class="card-header">
                    <h4>Vælg Kunde og scooter</h4>
                </div>
                <div class="card-body">

                    <div>
                        Kunde:
                        <InputText class="form-control col-4" placeholder="Vælg kunde ..." @bind-Value="søgeTekstKunder" @oninput="KundeSøgefeltÆndret"/>
                        @if (visKundeForslag)
                        {
                            <ul class="liste mt-2">
                                @foreach (var kunde in kundeForslag)
                                {
                                    <li @onclick="() => VælgKunde(kunde)">
                                        (@kunde.KundeId) @kunde.Navn - @kunde.Email
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    <div >
                        Scooter: 
                        <InputSelect @bind-Value="nyOrdre.KundeScooterId" class="form-select col-2">
                            <option value="">Vælg scooter</option>
                            @foreach (var scooter in kundeScootere)
                            {
                               
                                    <option value="@scooter.ScooterId">@scooter.Registreringsnummer</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success mt-1" @onclick="OpretKunde">Opret kunde</button>
                    </div>
                </div>
            </div>
            <!--Mekaniker-->
    
  
    <div class="card mb-2">
        <div class="card-header">
            <h4>Vælg mekaniker</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-6">
                    <InputSelect @bind-Value="nyOrdre.MekanikerId" class="form-select">
                        <option value="">Vælg mekaniker</option>
                        @foreach (var mekaniker in alleMekanikere)
                        {
                            <option value="@mekaniker.MekanikerId">@mekaniker.Navn</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
    <!-- Produkt Sektion -->
    <div class="card mb-4">
        <div class="card-header">
            <h4>Vælg Produkt</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label class="col-6">Søg varer</label>
                @if (ordreVareLinje.Vare != null && ordreVareLinje.Vare.Pris > 0)
                {
                    <label class="col-2">Pris</label>
                    <label class="col-2">Ændr Pris</label>
                    <label class="col-2">Antal</label>
                }
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Søg varer ..." @bind="søgeTekstVarer" @oninput="VareSøgefeltÆndret"/>
                    @if (visVareForslag)
                    {
                        <ul class="liste mt-2">
                            @foreach (var vare in vareForslag)
                            {
                                <li  @onclick="() => VælgVare(vare)">
                                    @vare.Beskrivelse - @vare.Pris Kr
                                </li>
                            }
                        </ul>
                    }
                </div>
                @if (ordreVareLinje.Vare != null && ordreVareLinje.Vare.Pris > 0)
                {
                    <div class="col-2">
                        <InputNumber @bind-Value="@ordreVareLinje.VarePris" class="form-control" disabled="@(!checkboxValue)" />
                    </div>
                    <div class="col-2">
                        <InputCheckbox @bind-Value="checkboxValue" />
                    </div>
                    <div class="col-2">
                        <InputNumber id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" @onclick="TilføjVare">Tilføj</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- Ordreoversigt -->
    <div class="card">
        <div class="card-header">
            <h4>Ordre Oversigt</h4>
        </div>
        <div class="card-body">
            @foreach (var vareLinje in nyOrdre.VareLinjer)
            {
                <div class="row align-items-center mb-2">
                    <div class="col-6">
                        @vareLinje.Vare.Beskrivelse - @vareLinje.VarePris Kr
                    </div>
                    <div class="col-2">
                        <InputNumber @bind-Value="@vareLinje.Antal" class="form-control" @onfocusout="FjernVareVedNul" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-danger" @onclick="() => FjernVare(vareLinje)">Slet</button>
                    </div>
                </div>
            }
           
            <div class="row mt-3">

                <div class="col-6">
                    <strong>Total pris:</strong> @ordreVareLinjer.Sum(v => v.VarePris * v.Antal) Kr
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-primary" @onclick="OpretOrdre" disabled="!(ordreVareLinjer.Count > 0 && nyOrdre.MekanikerId != null)">
                        Opret ordre
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Modal til oprettelse af kunde -->
    @if (opretKundeModal)
    {
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opret Kunde</h5>
                    <button type="button" class="btn-close" @onclick="@LukOpretKundeModal"></button>
                </div>
                <div class="modal-body">
                    <KundeCreateComponent OnKundeAdded="NyKunde" />
                </div>
            </div>
        </div>
    }
</div>
