@page "/sko"

@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Components.Kunder
@using System.Linq
<div class="container mt-4">
<!-- Header -->



<div class="card mb-4">
    <div class="card-header">
        <h4>Produkter</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <label class="col-3">Søg varer</label>
            @if (ordreVareLinje.VarePris > 0)
            {
                <label class="col-1">Pris</label>
                <label class="col-1">Ændr Pris</label>
                <label class="col-1">Rabat</label>
                <label class="col-1">Antal</label>
            }
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Søg varer ..." @bind="søgeTekstVarer" @oninput="VareSøgefeltÆndret"/>
                @if (visVareForslag)
                {
                    <ul class="liste mt-2">
                        @foreach (var vare in vareForslag)
                        {
                            <li @onclick="() => VælgVare(vare)">@vare.Beskrivelse - @vare.Pris Kr</li>
                        }
                        
                        @foreach (var ydelse in ydelserForslag)
                        {
                                <li @onclick="() => VælgVare(ydelse)">@ydelse.Beskrivelse - @ydelse.AntalTimer timer - @ydelse.Pris Kr</li>
                        }
                    </ul>
                }
            </div>
            @if (ordreVareLinje.VarePris > 0)
            {
                <EditForm Model="ordreVareLinje" OnInvalidSubmit="TilføjVare">
                    <DataAnnotationsValidator/>
                    <div class="col-1">
                        <InputNumber @bind-Value="@ordreVareLinje.VarePris" class="form-control" disabled="@(!checkboxValue)"/>
                    </div>
                    <div class="col-1">
                        <InputCheckbox @bind-Value="checkboxValue"/>
                    </div>
                    <div class="col-1">
                        <InputNumber id="rabat" @bind-Value="ordreVareLinje.Rabat" class="form-control" placeholder="Rabat"/>
                    </div>
                    <div class="col-1">
                        <InputNumber min="1" id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal"/>
                    </div>
                    <div class="col-1">
                        <label>Total: @ordreVareLinje.GetTotalPris() kr </label>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="button" @onclick="TilføjVare">Tilføj</button>
                    </div>
                </EditForm>
            }
            @if (nyOrdre.VareLinjer.Count > 0)
            {
                <div class="row align-items-center mt-1 ms-1">
                    <strong class="col-2">Vare</strong>
                    <strong class="col-2">Pris</strong>
                    <strong class="col-1">Timer</strong>
                    <strong class="col-1">Rabat</strong>
                    <strong class="col-1">Antal</strong>
                    <strong class="col-1">Total</strong>
                </div>
            }
                @foreach (var vareLinje in nyOrdre.VareLinjer)
                {
                    <div class="row align-items-center mt-1 ms-1 mb-2">
                        <div class="col-2">
                            @vareLinje.VareBeskrivelse
                        </div>
                        <div class="col-2">@vareLinje.VarePris Kr
                        </div>
                        @if (vareLinje.Vare is Ydelse y)
                        {
                            <div class="col-1">@y.AntalTimer
                            </div>
                        }
                        <div class="col-1">@vareLinje.YdelseAntalTimer
                        </div>
                        <div class="col-1">@vareLinje.Rabat Kr
                        </div>
                        <div class="col-1">
                            <InputNumber min="1" @bind-Value="@vareLinje.Antal" class="form-control" @onfocusout="FjernVareVedNul"/>
                        </div>

                        <label class="col-1">@vareLinje.GetTotalPris() Kr</label>

                        <div class="col-2">
                            <button class="btn btn-danger" type="button" @onclick="() => FjernVare(vareLinje)">Slet</button>
                        </div>
                    </div>
                }
            
        </div>
    </div>
</div>


<div class="row mt-3">

    <div class="col-2 ms-2">
        <strong>Total pris:</strong> @nyOrdre.GetTotalPrisUdenUdlejning() Kr


    </div>
    @if (ordreKunde != null)
    {
        <div class="col-2">
            <strong>Kunde:</strong> @ordreKunde.Navn
        </div>
    }
    @if (ordreMekaniker != null)
    {
        <div class="col-2">
            <strong>Mekaniker:</strong> @ordreMekaniker.Navn
        </div>
    }
    @if (ordreKundeScooter != null)
    {
        <div class="col-2">
            <strong>Scooter:</strong> @ordreKundeScooter.Registreringsnummer - @ordreKundeScooter.Mærke.ScooterMærke
        </div>
    }

    <div class="col-6 mb-3">

        <button class="btn btn-primary" type="button" @onclick="OpretOrdre">
            Opret ordre
        </button>
    </div>
</div>


<!-- Kunde Sektion -->
<div class="card">
    <div class="card-header">
        <h4>Kunde</h4>
    </div>
    <div class="card-body">
        <div>
               
            <InputText class="form-control col-4" placeholder="Vælg kunde ..." @bind-Value="søgeTekstKunder" @oninput="KundeSøgefeltÆndret"/>
            @if (visKundeForslag)
            {
                <ul class="liste mt-2">
                    @foreach (var kunde in kundeForslag)
                    {
                        <li @onclick="() => KundeVælges(kunde)">
                            (@kunde.KundeId) @kunde.Navn - @kunde.Email
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="text-end ">
            <button class="small-button" type="button" @onclick="OpretKunde">Opret kunde</button>
        </div>

    </div>
</div>
<!-- Modal til oprettelse af kunde -->
@if (opretKundeModal)
{
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret Kunde</h5>
                <button type="button" class="btn-close" @onclick="@LukOpretKundeModal"></button>
            </div>
            <div class="modal-body">
                <KundeCreateComponent OnKundeAdded="NyKunde" />
            </div>
        </div>
    </div>
}
<!-- Bemærkning -->

    <div class="card mb-4 col-4">
        <div class="card-header">
            <h4>Bemærkninger</h4>
        </div>
        <div class="col-6">
            <textarea id="multiline-input" name="multiline-input" rows="4" cols="50" @bind="nyOrdre.Bemærkninger"placeholder="Skriv her..."></textarea>
        </div>
    </div>


<!--Mekaniker-->
@foreach (var vl in nyOrdre.VareLinjer)
{
 @if (vl.Vare is Ydelse)
 {
     <div class="card mb-2">
         <div class="card-header">
             <h4>Vælg mekaniker</h4>
         </div>
         <div class="card-body">
             <div class="row mb-3">
                 <div class="col-6">
                     <InputSelect @bind-Value="nyOrdre.MekanikerId" class="form-select" @bind-Value:after="MekanikerÆndres">
                         <option value="">Vælg mekaniker</option>
                         @foreach (var mekaniker in alleMekanikere)
                         {
                             <option value="@mekaniker.MekanikerId">@mekaniker.Navn</option>
                         }
                     </InputSelect>
                     <!-- Display details about the selected mechanic -->
                     @if (ordreMekaniker != null)
                     {
                         @foreach (var mærke in ordreMekaniker.Mærker)
                         {
                             <div> @mærke.ScooterMærke </div>
                         }
                     }
                     <div >
                         Scooter: 
                         <InputSelect @bind-Value="nyOrdre.KundeScooterId" class="form-select col-2" @bind-Value:after="KundeScooterÆndres">
                             <option value="">Vælg scooter</option>
                             @foreach (var scooter in kundeScootere)
                             {
                                 <option value="@scooter.ScooterId">@scooter.Registreringsnummer - @scooter.Mærke.ScooterMærke</option>
                             }
                         </InputSelect>
                     </div>
                 </div>
             </div>

         </div>
     </div>
     <!-- Slutdato -->
    <div class="card mb-4 col-4">
        <div class="card-header mb-4 ">
            <h4>Slutdato</h4>
        </div>
        <InputDate @bind-Value="nyOrdre.SlutDato" class="form-control"/>
    </div>

     <!--Udlejning-->
     <div class="card mb-2">
         <div class="card-header">
             <h4>Scooterudlejning</h4>
         </div>
         <div class="card-body">
             <div class="row mb-3">
                 <div class="col-6">
                     <InputSelect @bind-Value="udlejningsScooterId" class="form-select">
                         <option value="">Vælg scooter</option>
                         @foreach (var s in udlejningsScootere)
                         {
                             <option value="@s.ScooterId">@s.Registreringsnummer - @s.Mærke.ScooterMærke</option>
                         }
                     </InputSelect>
                 </div>
             </div>

         </div>
     </div>
 }

}
</div>