@page "/sko"
@using Anden_SemesterProjekt.Shared.Models

<div class="row">
    <label class="col-6">Vælg produkt</label>
    @if (ordreVareLinje.VarePris > 0)
    {<label class="col-1">Pris</label>
                <label class="col-1 ps-4">Ændr pris</label>
     <label class="col-1">Antal</label>
    }
    
    @*  <div class="col-6"> *@
    <label class="col 6"></label>
    @*  </div> *@
</div>
<div class="row">
    <div class=" col-6 search-container">
        <input type="text"
               class="form-control"
               placeholder="Søg varer ..."
               @bind="søgeTekst"
               @oninput="OnSearchTextChanged" />
        @if (visForslag)
        {
            <ul class="liste">
                @foreach (var vare in vareForslag)
                {
                    <li @onclick="() => VælgVare(vare)">
                        @vare.Beskrivelse - @vare.Pris
                    </li>
                }
            </ul>
        }
    </div>
    @if (ordreVareLinje.VarePris > 0)
    {
        @if (checkboxValue)
        {
            <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1"  />
        }
        else
        {
            <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1" disabled />
        }
        <InputCheckbox class="small-checkbox col-1"@bind-Value="checkboxValue" />
        <div class="col-1">
            <InputNumber id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal"/>
        </div>

        <div class="col-1">
            <button class="btn btn-primary" @onclick="TilføjVare">Tilføj</button>
        </div>
    }
  
</div>
<div class="border-primary mt-5">
    @foreach (var vareLinje in ordreVareLinjer)
    {
        <div class="row">
            <div class="col-6">
                @vareLinje.Vare.Beskrivelse
            </div>
            <div class="col-1">
                @vareLinje.Vare.Pris
            </div>
            <div class="col-1">
                <InputNumber @bind-Value="@vareLinje.Antal" @oninput="() => FjernVareVedNul()" class="form-control" placeholder="Antal" />
            </div>
            <div class="col-1">
                <button class="btn btn-danger" @onclick="() => FjernVare(vareLinje)">Fjern</button>
            </div>
        </div>
    }
</div>