@page "/sko"
@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Components.Kunder

<div class="row">
    <label class="col-6">Vælg produkt</label>
    @if (ordreVareLinje.VarePris > 0)
    {<label class="col-1">Pris</label>
        <label class="col-1 ps-4">Ændr pris</label>
        <label class="col-1">Antal</label>
    }
</div>

<div class="row">
    <div class=" col-6 search-container">
        <input type="text"class="form-control"placeholder="Søg varer ..."@bind="søgeTekstVarer"@oninput="VareSøgefeltÆndret" />
        @if (visVareForslag)
        {
            <ul class="liste">
                @foreach (var vare in vareForslag)
                {
                    <li @onclick="() => VælgVare(vare)">
                        @vare.Beskrivelse - @vare.Pris
                    </li>
                }
            </ul>
        }
    </div>

    <div class="col-1">
        @if (ordreVareLinje.VarePris > 0)
        {
            @if (checkboxValue)
            {
                <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1"  />
            }
            else
            {
                <InputNumber @bind-Value="@ordreVareLinje.VarePris" Kr class="col-1" disabled />
            }
            <InputCheckbox class="small-checkbox col-1"@bind-Value="checkboxValue" />
            <div class="col-1">
                <InputNumber id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal"/>
            </div>

            <div class="col-1">
                <button class="btn btn-primary" @onclick="TilføjVare">Tilføj</button>
            </div>
        }
    
    </div>
   </div>

    <row class =" pt-3">
        
            <input type="text"class="col-6"placeholder="Vælg kunde ..."@bind="søgeTekstKunder"@oninput="KundeSøgefeltÆndret" />
            @if (visKundeForslag)
            {
                <ul class="liste">
                    @foreach (var kunde in kundeForslag)
                    {
                        <li @onclick="() => VælgKunde(kunde)">
                           (@kunde.KundeId) @kunde.Navn - @kunde.Email
                        </li>
                    }
                </ul>
            }
            <button class="btn btn-primary col-1" @onclick="OpretKunde">Opret kunde</button>
            <InputSelect @bind-Value="nyOrdre.MekanikerId" class="col-2">
                <option value="">Vælg mekaniker</option>
                @foreach (var mekaniker in alleMekanikere)
                {
                    <option value="@mekaniker.MekanikerId">@mekaniker.Navn</option>
                }
            </InputSelect>
            
            <InputSelect @bind-Value="nyOrdre.KundeScooterId" class="col-2">
                <option value="">Vælg scooter</option>
                @foreach (var scooter in kundeScootere)
                {
                    <option value="@scooter.ScooterId">@scooter.Registreringsnummer</option>
                }
            </InputSelect>
    </row>

    <div class="border-primary mt-5 col-6">
        @foreach (var vareLinje in ordreVareLinjer)
        {
            <ul >
                <li>
                    <label class="col-4"> @vareLinje.Vare.Beskrivelse - @vareLinje.Vare.Pris Kr</label>
                    <InputNumber @bind-Value="@vareLinje.Antal" @oninput="() => FjernVareVedNul()" class="col-1" placeholder="Antal"/>
                    <button class="btn btn-danger col-1" @onclick="() => FjernVare(vareLinje)">Slet</button>
                </li>
            </ul>
        }
    </div>

<div class="row">
    <div class="col-6">
        Total pris: @ordreVareLinjer.Sum(v => v.Vare.Pris * v.Antal) Kr
    </div>
    @if (ordreVareLinjer.Count > 0 && nyOrdre.MekanikerId != null && nyOrdre.KundeScooterId != null)
    {
        
    <div class="col-1">
        <button class="btn btn-primary" @onclick="OpretOrdre">Opret ordre</button>
        </div>
    }
    else
    {
        <div class="col-1">
            <button class="btn btn-primary" disabled @onclick="OpretOrdre">Opret ordre</button>
        </div>
    }
</div>
@if (opretKundeModal)
{
    <div class="modal">
        <div class="modal-content">
            <span class="close-button" @onclick="@LukOpretKundeModal">&times;</span>
            <KundeCreateComponent OnKundeAdded="NyKunde" />
        </div>
    </div>
}
