<div class="col-12 mb-3">
    <div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@Kunde.Navn</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Kunde.Adresse.Gadenavn</p>
                <p class="card-text">@Kunde.Adresse.Postnummer</p>
                <p class="card-text">@Kunde.Adresse.By.ByNavn</p>
                <p class="card-text">@Kunde.Email</p>
            </div>
            <div class="card-footer">
                @if (OnEditKunde.HasDelegate)
                {
                    <button class="btn btn-primary" @onclick="() => OnEditKunde.InvokeAsync(Kunde)">Rediger</button>
                }
                @if(OnDeleteKunde.HasDelegate)
                {
                    <button class="btn btn-danger" @onclick="() => OnDeleteKunde.InvokeAsync(Kunde)">Slet</button>
                })
            </div>
        </div>
    </div>
</div>
